@font-face {
  font-family: "PPMondwest-Regular";
  src: url("/static/fonts/PPMondwest-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PPNeueBit-Bold";
  src: url("/static/fonts/PPNeueBit-Bold.otf") format("opentype");
}

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: white;
}

.highlight {
  background-color: rgba(0, 132, 255, 0.658);
}

#header-video {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
  display: flex;
  justify-content: end;
  width: 100%;
}

#top-video {
  height: 25vh;
  mix-blend-mode: difference;
}

@media (max-width: 1060px) {
  #top-video {
    display: none;
  }
}

#logo {
  height: 60vh;
  min-height: 300px;
  mix-blend-mode: difference;
  z-index: 2;
}

#logo-container {
  margin: 50px;
}

@media (max-width: 1060px) {
  #logo-container {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo {
    height: auto;
    width: 160px;
    object-fit: contain;
  }
}

.section {
  padding-left: 50px;
  padding-bottom: 100px;
  padding-top: 150px;
  margin-right: 100px;
  width: 100%;
}

@media (max-width: 1060px) {
  .section {
    padding-left: 10px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-right: 0;
    width: auto;
  }
}

#about {
  font-family: "PPNeueBit-Bold";
  font-weight: 100;
  font-size: 200px;
  width: 95%;
  position: relative;
  z-index: 2;
  color: white;
  mix-blend-mode: difference;
}

@media (max-width: 1060px) {
  #about {
    font-size: 70px;
    padding-right: 0;
  }
}

#djs {
  font-family: "PPNeueBit-Bold";
  background-color: black;
}

.single-dj-container {
  height: 450px;
  padding-bottom: 150px;
  width: 95%;
}

.single-dj-container:last-of-type {
  padding-bottom: 0;
}

@media (max-width: 1060px) {
  .single-dj-container {
    height: auto;
  }
}

.single-dj-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 1060px) {
  .single-dj-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 40vh auto auto auto;
    row-gap: 30px;
  }
}

.dj-photo-container {
  grid-row: 1 / 7;
  grid-column: 1;
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1060px) {
  .dj-photo-container {
    height: 40vh;
  }
}

.dj-photo {
  height: 100%;
  width: 90%;
  object-fit: cover;
}

@media (max-width: 1060px) {
  .dj-photo {
    width: 100vw;
    margin-left: -10px;
  }
}

.header {
  font-family: "PPMondwest-Regular";
  color: white;
  font-size: 200px;
  margin-bottom: 10vh;
  padding-bottom: 100px;
}

@media (max-width: 1060px) {
  .header {
    font-size: 175px;
    margin-bottom: 50px;
    padding-bottom: 0;
  }

  .header.art {
    margin-top: -100px;
  }
}

#contact {
  width: 95%;
  position: relative;
  z-index: 2;
  background-color: black;
  mix-blend-mode: difference;
}

.header.contact {
  color: white;
  z-index: 2;
  mix-blend-mode: difference;
}

@media (max-width: 1060px) {
  .header.contact {
    display: flex;
    align-items: end;
    height: 220px;
    line-height: 0.5;
    text-align: start;
    vertical-align: bottom;
  }
}

.name {
  grid-row: 1/2;
  grid-column: 2/5;
  font-family: "PPNeueBit-Bold";
  font-size: 180px;
  color: white;
  margin-bottom: 0px;
}

@media (max-width: 1060px) {
  .name {
    font-size: 80px;
    grid-row: 2;
    grid-column: 1;
  }
}

.description {
  font-size: 36px;
  grid-row: 2/5;
  grid-column: 2;
  font-family: "PPNeueBit-Bold";
  color: white;
}

@media (max-width: 1060px) {
  .description {
    font-size: 30px;
    grid-row: 3;
    grid-column: 1;
  }
}

.socials {
  display: flex;
  flex-direction: row;
  grid-row: 2;
  grid-column: 3;
  font-family: "PPMondwest-Regular";
  font-size: 20px;
  color: white;
  padding-right: 20px;
}

@media (max-width: 1060px) {
  .socials {
    grid-row: 5;
    grid-column: 1;
    justify-self: start;
    justify-content: space-between;
    width: 35%;
  }
}

.social {
  padding-left: 50px;
  text-decoration: underline;
}

@media (max-width: 1060px) {
  .social {
    margin-left: 0;
    padding-left: 0;
    padding-right: 20px;
  }
}

.social a {
  color: white;
}

.tags {
  grid-row: 6;
  grid-column: 2/3;
  width: 80%;
  font-family: "PPMondwest-Regular";
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
}

@media (max-width: 1060px) {
  .tags {
    grid-row: 4;
    grid-column: 1;
    margin-left: 0;
  }
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid white;
  padding: 5px 15px;
}

.contact-info a {
  background-color: rgba(0, 132, 255, 0.658);
  color: white;
}
.contact-info {
  font-family: "PPNeueBit-Bold";
  font-size: 100px;
  line-height: 0;
  color: white;
  padding-bottom: 10vh;
  z-index: 2;
  mix-blend-mode: difference;
}

@media (max-width: 1060px) {
  .contact-info {
    font-size: 40px;
    padding-bottom: 0;
  }
}

#logo-footer-container {
  width: 100%;
  height: 40vh;
}

@media (max-width: 1060px) {
  #logo-footer-container {
    display: none;
  }

  #logo-footer-bar {
    display: none;
  }
}

#logo-footer {
  position: relative;
  height: 100%;
  z-index: 2;
  mix-blend-mode: difference;
}

#logo-footer-bar {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  margin-left: calc(-53vh * 3);
  animation: slide 5s infinite linear;
}

@keyframes slide {
  0% {
    margin-left: calc(-53vh * 3);
  }
  100% {
    margin-left: -53vh;
  }
}
